# Sprint 4 - Software Development Tools Project
# Exploratory Data Analysis

# 1. Introduction
## 1.1 Background
Using the `vehicles_us` dataset, this project aims to provide additional practice on common software engineering tasks learned in this sprint. Develop and deploy a web application to a cloud service, Render, in this case.

## 1.2 Stages
There is only one dataset in this project, `../vehicles_us.csv`, for this project.

To analyze this dataset, the following steps will be followed:
1. Data Overview
2. Data Preprocessing
3. Data Analysis

# 2 Data Overview
Import the libraries to be used on this project.

In [1]:
# Loading all the libraries
import pandas as pd
from scipy import stats as st

Open the dataset in a dataframe, `vehicles_df`.

In [2]:
# Load the data
df = pd.read_csv('../vehicles_us.csv')

# Show dataframe
df

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013.0,nissan maxima,like new,6.0,gas,88136.0,automatic,sedan,black,NaN,2018-10-03,37
51521,2700,2002.0,honda civic,salvage,4.0,gas,181500.0,automatic,sedan,white,NaN,2018-11-14,22
51522,3950,2009.0,hyundai sonata,excellent,4.0,gas,128000.0,automatic,sedan,blue,NaN,2018-11-15,32
51523,7455,2013.0,toyota corolla,good,4.0,gas,139573.0,automatic,sedan,black,NaN,2018-07-02,71
51524,6300,2014.0,nissan altima,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-06-05,10

# 3 Data Preprocessing
Explore the dataset to get the initial understanding of the data. Do necessary corrections.

In [3]:
# Get basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [4]:
# Add a manufacturer column to the dataframe
df['manufacturer'] = df['model'].apply(lambda x: x.split()[0])

# Insert new column at index 3 so it shows after model in dataframe
df.insert(3, 'manufacturer', df.pop('manufacturer'))

# Show dataframe
df

,price,model_year,model,manufacturer,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,bmw,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,ford,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,hyundai,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,ford,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,chrysler,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013.0,nissan maxima,nissan,like new,6.0,gas,88136.0,automatic,sedan,black,NaN,2018-10-03,37
51521,2700,2002.0,honda civic,honda,salvage,4.0,gas,181500.0,automatic,sedan,white,NaN,2018-11-14,22
51522,3950,2009.0,hyundai sonata,hyundai,excellent,4.0,gas,128000.0,automatic,sedan,blue,NaN,2018-11-15,32
51523,7455,2013.0,toyota corolla,toyota,good,4.0,gas,139573.0,automatic,sedan,black,NaN,2018-07-02,71
51524,6300,2014.0,nissan altima,nissan,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-06-05,10

I added a `'brand'`column to capture the manufacturer of each model for further analysis down the line. There are some missing values that will be addressed in the next section.

## 3.1 Missing Values
Check for any missing values and fill them appropriately.

In [5]:
# Check for missing values
df.isna().sum()

price               0
model_year       3619
model               0
manufacturer        0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

Let's fill the missing values in the `'is_4wd'` column first.

In [6]:
# Let's ensure that all the missing values in the 'is_4wd' column are supposed to be 0
# Check the unique values in this column
df['is_4wd'].unique()

array([ 1., nan])

In [7]:
# Replace the missing values in 'is_4wd' with 0 and change type to boolean
df['is_4wd'] = df['is_4wd'].fillna(0).astype(bool)

# Check for missing values
df.isna().sum()

price              0
model_year      3619
model              0
manufacturer       0
condition          0
cylinders       5260
fuel               0
odometer        7892
transmission       0
type               0
paint_color     9267
is_4wd             0
date_posted        0
days_listed        0
dtype: int64

There were missing values in the `'is_4wd'` column. Using the `unique` method on this column, I was able to determine that the missing values were probably indicating the value 0 so I filled the missing values with 0.

Let's replace the missing values in the `'paint_color'`, `'cylinders'`, and `'model_year'` columns with the mode of each by model. The median wouldn't make sense for these columns as they are categorical in nature despite the `'cylinders'`, and `'model_year'` columns being numerical.

In [8]:
# Replace missing paint colors with the most frequent value for each model
df['paint_color'] = df.groupby('model')['paint_color'].transform(lambda x: x.fillna(x.mode()[0]))

# Check for missing values
df.isna().sum()

price              0
model_year      3619
model              0
manufacturer       0
condition          0
cylinders       5260
fuel               0
odometer        7892
transmission       0
type               0
paint_color        0
is_4wd             0
date_posted        0
days_listed        0
dtype: int64

In [9]:
# Replace missing cylinders with the most frequent value for each model
df['cylinders'] = df.groupby('model')['cylinders'].transform(lambda x: x.fillna(x.mode()[0]))

# Check for missing values
df.isna().sum()

price              0
model_year      3619
model              0
manufacturer       0
condition          0
cylinders          0
fuel               0
odometer        7892
transmission       0
type               0
paint_color        0
is_4wd             0
date_posted        0
days_listed        0
dtype: int64

In [10]:
# Change 'cylinders' column to be of type int
df['cylinders'] = df['cylinders'].astype(int)

# Show dataframe
df

,price,model_year,model,manufacturer,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,bmw,good,6,gas,145000.0,automatic,SUV,black,True,2018-06-23,19
1,25500,NaN,ford f-150,ford,good,6,gas,88705.0,automatic,pickup,white,True,2018-10-19,50
2,5500,2013.0,hyundai sonata,hyundai,like new,4,gas,110000.0,automatic,sedan,red,False,2019-02-07,79
3,1500,2003.0,ford f-150,ford,fair,8,gas,NaN,automatic,pickup,white,False,2019-03-22,9
4,14900,2017.0,chrysler 200,chrysler,excellent,4,gas,80903.0,automatic,sedan,black,False,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013.0,nissan maxima,nissan,like new,6,gas,88136.0,automatic,sedan,black,False,2018-10-03,37
51521,2700,2002.0,honda civic,honda,salvage,4,gas,181500.0,automatic,sedan,white,False,2018-11-14,22
51522,3950,2009.0,hyundai sonata,hyundai,excellent,4,gas,128000.0,automatic,sedan,blue,False,2018-11-15,32
51523,7455,2013.0,toyota corolla,toyota,good,4,gas,139573.0,automatic,sedan,black,False,2018-07-02,71
51524,6300,2014.0,nissan altima,nissan,good,4,gas,NaN,automatic,sedan,grey,False,2018-06-05,10

In [11]:
# Replace missing model years with the most frequent value for each model
df['model_year'] = df.groupby('model')['model_year'].transform(lambda x: x.fillna(x.mode()[0]))

# Check for missing values
df.isna().sum()

price              0
model_year         0
model              0
manufacturer       0
condition          0
cylinders          0
fuel               0
odometer        7892
transmission       0
type               0
paint_color        0
is_4wd             0
date_posted        0
days_listed        0
dtype: int64

In [12]:
# Change 'model_year' column to be of type int
df['model_year'] = df['model_year'].astype(int)

# Show dataframe
df

,price,model_year,model,manufacturer,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011,bmw x5,bmw,good,6,gas,145000.0,automatic,SUV,black,True,2018-06-23,19
1,25500,2013,ford f-150,ford,good,6,gas,88705.0,automatic,pickup,white,True,2018-10-19,50
2,5500,2013,hyundai sonata,hyundai,like new,4,gas,110000.0,automatic,sedan,red,False,2019-02-07,79
3,1500,2003,ford f-150,ford,fair,8,gas,NaN,automatic,pickup,white,False,2019-03-22,9
4,14900,2017,chrysler 200,chrysler,excellent,4,gas,80903.0,automatic,sedan,black,False,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013,nissan maxima,nissan,like new,6,gas,88136.0,automatic,sedan,black,False,2018-10-03,37
51521,2700,2002,honda civic,honda,salvage,4,gas,181500.0,automatic,sedan,white,False,2018-11-14,22
51522,3950,2009,hyundai sonata,hyundai,excellent,4,gas,128000.0,automatic,sedan,blue,False,2018-11-15,32
51523,7455,2013,toyota corolla,toyota,good,4,gas,139573.0,automatic,sedan,black,False,2018-07-02,71
51524,6300,2014,nissan altima,nissan,good,4,gas,NaN,automatic,sedan,grey,False,2018-06-05,10

Finally, let's fill the `'odometer'` column with the median value of each by model.

In [13]:
# Replace missing odometer values with the median odometer value for each model
df['odometer'] = df.groupby('model')['odometer'].transform(lambda x: x.fillna(x.median()))

# Check for missing values
df.isna().sum()

c:\Users\shoul\OneDrive\Documents\TripleTen_Data_Science_Bootcamp\Sprint_4\SDT_Final_Project\us_vehicles_web_app\.venv\Lib\site-packages\numpy\lib\_nanfunctions_impl.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

price            0
model_year       0
model            0
manufacturer     0
condition        0
cylinders        0
fuel             0
odometer        41
transmission     0
type             0
paint_color      0
is_4wd           0
date_posted      0
days_listed      0
dtype: int64

Oops, it looks like this approach did not eliminate all the missing values in the `'odometer'` column so let's take a look at the remaining missing values.

In [14]:
# Check which models have no odometer value
df[df['odometer'].isna()]['model'].value_counts()

model
mercedes-benz benze sprinter 2500    41
Name: count, dtype: int64

In [15]:
# View all the models in the manufacturer mercedes-benz
# Check if there's more than one model in the mercedes-benz to see if we could fill with median value from manufacturer
df[df['manufacturer'] == 'mercedes-benz']['model'].value_counts()

model
mercedes-benz benze sprinter 2500    41
Name: count, dtype: int64

The mercedes-benz benze sprinter 2500 does not have any odometer value entered so let's fill the missing values with the median odometer value by cylinders.

In [16]:
# Replace missing odometer values with the median odometer value for each cylinder type
df['odometer'] = df.groupby('cylinders')['odometer'].transform(lambda x: x.fillna(x.median()))

# Check for missing values
df.isna().sum()

price           0
model_year      0
model           0
manufacturer    0
condition       0
cylinders       0
fuel            0
odometer        0
transmission    0
type            0
paint_color     0
is_4wd          0
date_posted     0
days_listed     0
dtype: int64

All missing values have now been filled so let's take a look at any duplicate values implicit or explicit that we can find in our dataset.

## 3.2 Duplicate Values
Check for fully duplicate rows or duplicates in the `'model'` and `'model_year'` columns.

In [17]:
# Check for fully duplicate rows
df.duplicated().sum()

np.int64(0)

There are no fully duplicate rows that can be found at the moment. However, let's further categorize our dataset by grouping by the `'brand'` column and ensure that we have no implicit duplicates in our models.

In [18]:
# Get list of manufacturers
manufacturers = list(df['manufacturer'].unique())

manufacturers

['bmw',
 'ford',
 'hyundai',
 'chrysler',
 'toyota',
 'honda',
 'kia',
 'chevrolet',
 'ram',
 'gmc',
 'jeep',
 'nissan',
 'subaru',
 'dodge',
 'mercedes-benz',
 'acura',
 'cadillac',
 'volkswagen',
 'buick']

In [19]:
# Create an empty dictionary that will hold all the models by each manufacturer
models_by_brand = df.groupby('manufacturer')['model'].unique().apply(list).to_dict()

models_by_brand

{'acura': ['acura tl'],
 'bmw': ['bmw x5'],
 'buick': ['buick enclave'],
 'cadillac': ['cadillac escalade'],
 'chevrolet': ['chevrolet silverado 1500',
  'chevrolet traverse',
  'chevrolet tahoe',
  'chevrolet silverado',
  'chevrolet malibu',
  'chevrolet impala',
  'chevrolet corvette',
  'chevrolet equinox',
  'chevrolet colorado',
  'chevrolet camaro lt coupe 2d',
  'chevrolet cruze',
  'chevrolet silverado 3500hd',
  'chevrolet silverado 1500 crew',
  'chevrolet camaro',
  'chevrolet suburban',
  'chevrolet silverado 2500hd',
  'chevrolet trailblazer'],
 'chrysler': ['chrysler 200', 'chrysler 300', 'chrysler town & country'],
 'dodge': ['dodge charger', 'dodge grand caravan', 'dodge dakota'],
 'ford': ['ford f-150',
  'ford fusion se',
  'ford focus',
  'ford f150 supercrew cab xlt',
  'ford mustang',
  'ford f-250 sd',
  'ford f250 super duty',
  'ford mustang gt coupe 2d',
  'ford explorer',
  'ford f-350 sd',
  'ford edge',
  'ford f-250',
  'ford f150',
  'ford expedition',
  'ford taurus',
  'ford f350 super duty',
  'ford ranger',
  'ford escape',
  'ford fusion',
  'ford f-250 super duty',
  'ford focus se',
  'ford f250',
  'ford f350',
  'ford econoline'],
 'gmc': ['gmc yukon',
  'gmc sierra',
  'gmc sierra 2500hd',
  'gmc sierra 1500',
  'gmc acadia'],
 'honda': ['honda pilot',
  'honda accord',
  'honda cr-v',
  'honda civic',
  'honda civic lx',
  'honda odyssey'],
 'hyundai': ['hyundai sonata', 'hyundai elantra', 'hyundai santa fe'],
 'jeep': ['jeep cherokee',
  'jeep wrangler',
  'jeep liberty',
  'jeep grand cherokee',
  'jeep grand cherokee laredo',
  'jeep wrangler unlimited'],
 'kia': ['kia sorento', 'kia soul'],
 'mercedes-benz': ['mercedes-benz benze sprinter 2500'],
 'nissan': ['nissan altima',
  'nissan rogue',
  'nissan frontier crew cab sv',
  'nissan versa',
  'nissan maxima',
  'nissan sentra',
  'nissan frontier',
  'nissan murano'],
 'ram': ['ram 1500', 'ram 3500', 'ram 2500'],
 'subaru': ['subaru outback', 'subaru impreza', 'subaru forester'],
 'toyota': ['toyota camry',
  'toyota rav4',
  'toyota camry le',
  'toyota highlander',
  'toyota tacoma',
  'toyota 4runner',
  'toyota corolla',
  'toyota prius',
  'toyota tundra',
  'toyota sienna'],
 'volkswagen': ['volkswagen jetta', 'volkswagen passat']}

In [20]:
# Remove all the brands with only one model
models_to_review = {}

for key in models_by_brand:
    if len(models_by_brand[key]) > 1:
        models_to_review[key] = models_by_brand[key]

models_to_review

{'chevrolet': ['chevrolet silverado 1500',
  'chevrolet traverse',
  'chevrolet tahoe',
  'chevrolet silverado',
  'chevrolet malibu',
  'chevrolet impala',
  'chevrolet corvette',
  'chevrolet equinox',
  'chevrolet colorado',
  'chevrolet camaro lt coupe 2d',
  'chevrolet cruze',
  'chevrolet silverado 3500hd',
  'chevrolet silverado 1500 crew',
  'chevrolet camaro',
  'chevrolet suburban',
  'chevrolet silverado 2500hd',
  'chevrolet trailblazer'],
 'chrysler': ['chrysler 200', 'chrysler 300', 'chrysler town & country'],
 'dodge': ['dodge charger', 'dodge grand caravan', 'dodge dakota'],
 'ford': ['ford f-150',
  'ford fusion se',
  'ford focus',
  'ford f150 supercrew cab xlt',
  'ford mustang',
  'ford f-250 sd',
  'ford f250 super duty',
  'ford mustang gt coupe 2d',
  'ford explorer',
  'ford f-350 sd',
  'ford edge',
  'ford f-250',
  'ford f150',
  'ford expedition',
  'ford taurus',
  'ford f350 super duty',
  'ford ranger',
  'ford escape',
  'ford fusion',
  'ford f-250 super duty',
  'ford focus se',
  'ford f250',
  'ford f350',
  'ford econoline'],
 'gmc': ['gmc yukon',
  'gmc sierra',
  'gmc sierra 2500hd',
  'gmc sierra 1500',
  'gmc acadia'],
 'honda': ['honda pilot',
  'honda accord',
  'honda cr-v',
  'honda civic',
  'honda civic lx',
  'honda odyssey'],
 'hyundai': ['hyundai sonata', 'hyundai elantra', 'hyundai santa fe'],
 'jeep': ['jeep cherokee',
  'jeep wrangler',
  'jeep liberty',
  'jeep grand cherokee',
  'jeep grand cherokee laredo',
  'jeep wrangler unlimited'],
 'kia': ['kia sorento', 'kia soul'],
 'nissan': ['nissan altima',
  'nissan rogue',
  'nissan frontier crew cab sv',
  'nissan versa',
  'nissan maxima',
  'nissan sentra',
  'nissan frontier',
  'nissan murano'],
 'ram': ['ram 1500', 'ram 3500', 'ram 2500'],
 'subaru': ['subaru outback', 'subaru impreza', 'subaru forester'],
 'toyota': ['toyota camry',
  'toyota rav4',
  'toyota camry le',
  'toyota highlander',
  'toyota tacoma',
  'toyota 4runner',
  'toyota corolla',
  'toyota prius',
  'toyota tundra',
  'toyota sienna'],
 'volkswagen': ['volkswagen jetta', 'volkswagen passat']}

It appears that the only manufacturer with implicit duplicates is ford so let's look at them.

In [21]:
# Get list of ford model values
ford_models = models_to_review['ford']

# Show obtained list
ford_models

['ford f-150',
 'ford fusion se',
 'ford focus',
 'ford f150 supercrew cab xlt',
 'ford mustang',
 'ford f-250 sd',
 'ford f250 super duty',
 'ford mustang gt coupe 2d',
 'ford explorer',
 'ford f-350 sd',
 'ford edge',
 'ford f-250',
 'ford f150',
 'ford expedition',
 'ford taurus',
 'ford f350 super duty',
 'ford ranger',
 'ford escape',
 'ford fusion',
 'ford f-250 super duty',
 'ford focus se',
 'ford f250',
 'ford f350',
 'ford econoline']

In [22]:
# Create dictionary of values to replace
replacements = {
    'ford f150': 'ford f-150',
    'ford f250': 'ford f-250',
    'ford f350': 'ford f-350',
    'ford f250 super duty': 'ford f-250 sd',
    'ford f-250 super duty': 'ford f-250 sd',
    'ford f350 super duty': 'ford f-350 sd',
}

# Replace values in dataframe
df['model'] = df['model'].replace(replacements)

# Check if values have been replaced
df[df['manufacturer'] == 'ford']['model'].unique()

array(['ford f-150', 'ford fusion se', 'ford focus',
       'ford f150 supercrew cab xlt', 'ford mustang', 'ford f-250 sd',
       'ford mustang gt coupe 2d', 'ford explorer', 'ford f-350 sd',
       'ford edge', 'ford f-250', 'ford expedition', 'ford taurus',
       'ford ranger', 'ford escape', 'ford fusion', 'ford focus se',
       'ford f-350', 'ford econoline'], dtype=object)

Now let's check if we have any fully duplicate rows, now that we've removed the implicit duplicates in the `'model'` column.

In [23]:
# Check for fully duplicate rows
df.duplicated().sum()

np.int64(0)

We still have zero duplicate rows so we're done with the data processing. Let's do some data analysis so we can choose what charts to display in our web app.

In [24]:
df

,price,model_year,model,manufacturer,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011,bmw x5,bmw,good,6,gas,145000.0,automatic,SUV,black,True,2018-06-23,19
1,25500,2013,ford f-150,ford,good,6,gas,88705.0,automatic,pickup,white,True,2018-10-19,50
2,5500,2013,hyundai sonata,hyundai,like new,4,gas,110000.0,automatic,sedan,red,False,2019-02-07,79
3,1500,2003,ford f-150,ford,fair,8,gas,121928.0,automatic,pickup,white,False,2019-03-22,9
4,14900,2017,chrysler 200,chrysler,excellent,4,gas,80903.0,automatic,sedan,black,False,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013,nissan maxima,nissan,like new,6,gas,88136.0,automatic,sedan,black,False,2018-10-03,37
51521,2700,2002,honda civic,honda,salvage,4,gas,181500.0,automatic,sedan,white,False,2018-11-14,22
51522,3950,2009,hyundai sonata,hyundai,excellent,4,gas,128000.0,automatic,sedan,blue,False,2018-11-15,32
51523,7455,2013,toyota corolla,toyota,good,4,gas,139573.0,automatic,sedan,black,False,2018-07-02,71
51524,6300,2014,nissan altima,nissan,good,4,gas,100319.5,automatic,sedan,grey,False,2018-06-05,10

Histogram of fuel vs model_year
Scatterplot of price vs manufacturer